<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Data Analysis</h1>
     </div>
     <div id="main">
       <p>{{name}}, here is the analysis of your interview data:</p>
       <p>
          <strong>Name</strong>: {{name}} <br>
          <strong>Email</strong>: {{email}} <br>
          <strong>Comments</strong>: {{comments}}
       </p>
       <div>
           <p>{{MODEL_DATA}}</p>
       </div>
       <button class="subBtn" onclick="window.location.href='form'">Back</button>
     </div>
   </div>
 </body>
</html>
