body {
    color: #2D2E30;
    font-family: sans-serif;
    background-color: #FCFAFA;
    width:100%;
    margin: 0px;
}

label {
  font-weight: bold;
}

input {
    position: relative;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: medium;
}

textarea {
    position: relative;
    margin-top: 20px;
    width:100%;
    height:100px;
    resize:none;
    font-size: medium;
}

img {
  max-width: 50px;
  float: left;
}

.subBtn {
    width: 160px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    cursor: pointer;
    bottom:-10px;
    float: right;

    background: #EF8488;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    width: 150px;
    line-height: 30px;
    border: 0;
    transition: all 0.3s ease 0s;
}

.subBtn:hover {
  background: #C83C7E;
}

.topbar {
  width:100%;
  background-color: #233647;
  padding: 10px;
  height: 50px;
}

#header_title {
  float: left;
  color: white;
  text-align: center;
  padding-left: 20px;
}

#commentsLbl {
    position: relative
}

#container {
        position:relative;
        left:50%;
        width:600px;

        margin-left:-300px;
        margin-top: 50px;

        background-color: #FCFAFA;
        color: #233647;
        border-radius: 4px;


        /*
        -webkit-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
        box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
        */
}

/* DATA VIS STYLING */
/*Rectangle bar class styling*/
axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#header {
    width:100%;
    background-color:white;
}

#main {
    padding: 20px;
}

#title {
    text-align: center;
    padding-top: 20px;
}

#email-field {
    position: relative;
}

#name-field {
    position: relative;
}

#comments-field {
    position: relative;
}

#audioLbl {
    position: relative;

}

#emailLbl {
    position: relative;
}

#nameLbl {
    position: relative;
}


#audio-field {
    position: relative;
}

<<<<<<< HEAD
#video-field {
    position: relative;
}
=======

>>>>>>> 155d57f9d2ff501aca5f3c66d30cbba50b848a0b

.pagetitle {
    text-align: center;
}
