body {
    color: #2D2E30;
    font-family: sans-serif;
    background-color: #215D70;
    width:100%;
}

label {
  font-weight: bold;
}

input {
    position: relative;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: medium;
}

textarea {
    position: relative;
    margin-top: 20px;
    width:100%;
    height:100px;
    resize:none;
    font-size: medium;
}

.subBtn {
    width: 160px;
    padding: 5px;
    border-radius: 4px;
    margin-top: 25px;
    position: relative;
    cursor: pointer;
    bottom:-10px;

    background: #5A5A5A;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    width: 150px;
    line-height: 30px;
    border: 0;
    transition: all 0.3s ease 0s;
}

.subBtn:hover {
  background: #428BCA;
}

#commentsLbl {
    position: relative
}

#container {
        position:relative;
        left:50%;
        top:50%;
        width:600px;

        margin-left:-300px;
        margin-top:-175px;

        background-color: #FFFFFF;
        border-radius: 4px;

        -webkit-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
        box-shadow: 7px 10px 14px -10px rgba(0,0,0,0.75);
}

.form_fields {
  padding-top: 20px;
}

#header {
    width:100%;
    background-color:white;
}

#main {
    padding: 20px;
}

#title {
    text-align: center;
    padding-top: 20px;
}

#email-field {
    position: relative;
}

#name-field {
    position: relative;
}

#comments-field {
    position: relative;
}

#audioLbl {
    position: relative;

}

#videoLbl {
    position: relative;
}

#emailLbl {
    position: relative;
}

#nameLbl {
    position: relative;
}



#audio-field {
    position: relative;
}

#video-field {
    position: relative;
}



.pagetitle {
    text-align: center;
}
